[submodule "samples/liferay-android-sdk-sample"]
	path = samples/liferay-android-sdk-sample
	url = https://github.com/brunofarache/liferay-android-sdk-sample.git
[submodule "samples/liferay-ios-sdk-sample"]
	path = samples/liferay-ios-sdk-sample
	url = https://github.com/brunofarache/liferay-ios-sdk-sample.git
[submodule "oauth/android"]
	path = oauth/android
	url = https://github.com/brunofarache/liferay-android-sdk-oauth.git
[submodule "oauth/ios"]
	path = oauth/ios
	url = https://github.com/brunofarache/liferay-ios-sdk-oauth.git
[submodule "push/android"]
	path = push/android
	url = git@github.com:liferay-mobile/liferay-push-android.git
[submodule "push/ios"]
	path = push/ios
	url = git@github.com:liferay-mobile/liferay-push-ios.git
