<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>url</key>
	<string>http://localhost:8080</string>
	<key>username</key>
	<string>test@liferay.com</string>
	<key>password</key>
	<string>test</string>
	<key>groupId</key>
	<integer>10184</integer>
	<key>portalVersion</key>
	<integer>6201</integer>
</dict>
</plist>
