package $package;

import org.json.JSONArray;
import org.json.JSONObject;

/**
 * @author Bruno Farache
 */
public class $javaUtil.getServiceClassName($serviceContext) {

	#foreach ($action in $actions.entrySet())
		#set ($signature = $action.value)
		#set ($returnType = $javaUtil.getType($signature.response))
		#set ($methodName = $javaUtil.getMethodName($signature.path))
		#set ($parameters = $signature.parameters)

		#set ($parameterList = "")

		#foreach ($parameter in $parameters.entrySet())
			#set ($parameterName = $parameter.key)
			#set ($parameterType = $javaUtil.getType($parameter.value))
			#set ($parameterList = "$parameterList$parameterType $parameterName")

			#if ($foreach.hasNext)
				#set ($parameterList = "$parameterList, ")
			#end
		#end

		public static $returnType $methodName($parameterList) {
			#if ($returnType != "void")
				#if ($returnType == "JSONArray")
					return new JSONArray();
				#end

				#if ($returnType == "JSONObject")
					return new JSONObject();
				#end
			#end
		}
	#end

}