package $package;

import com.liferay.client.http.HttpUtil;
import com.liferay.client.service.BaseService;
import com.liferay.client.service.ServiceContext;

import org.json.JSONArray;
import org.json.JSONException;
import org.json.JSONObject;

#set ($className = $javaUtil.getServiceClassName($serviceContext))

public class $className extends BaseService {

	public $className(ServiceContext context) {
		super(context);
	}

	#foreach ($action in $actions.entrySet())
		#set ($signature = $action.value)
		#set ($returnType = $javaUtil.getType($signature.response))
		#set ($methodName = $javaUtil.getMethodName($signature.path))
		#set ($parameters = $signature.parameters)

		#set ($parameterList = "")
		#set ($jsonObj = "JSONObject params = new JSONObject();${esc.n}")

		#foreach ($parameter in $parameters.entrySet())
			#set ($parameterName = $parameter.key)
			#set ($parameterType = $javaUtil.getType($parameter.value))
			#set ($parameterList = "$parameterList$parameterType $parameterName")

			#set ($jsonObj = "$jsonObj${esc.n}params.put(${esc.q}$parameterName${esc.q}, $parameterName);")

			#if ($foreach.hasNext)
				#set ($parameterList = "$parameterList, ")
			#end
		#end

		public $returnType $methodName($parameterList) throws Exception {
			JSONObject command = new JSONObject();

			try {
				$jsonObj

				command.put(${esc.q}$signature.path${esc.q}, params);
			}
			catch (JSONException je) {
			}

			HttpUtil.post(getContext(), command);

			#if ($returnType != "void")
				#if ($returnType == "JSONArray")
					return new JSONArray();
				#end

				#if ($returnType == "JSONObject")
					return new JSONObject();
				#end
			#end
		}
	#end

}