package $package;

import com.liferay.client.http.HttpUtil;
import com.liferay.client.service.BaseService;
import com.liferay.client.service.ServiceContext;

import org.json.JSONArray;
import org.json.JSONException;
import org.json.JSONObject;

#set ($className = $javaUtil.getServiceClassName($serviceContext))
#set ($actions = $discovery.actions)

public class $className extends BaseService {

	public $className(ServiceContext context) {
		super(context);
	}

	#foreach ($action in $actions)
		#set ($returnType = $javaUtil.getType($action.response))
		#set ($methodName = $javaUtil.getMethodName($action.path))
		#set ($parameters = $action.parameters)

		#set ($parameterList = "")
		#set ($jsonObj = "JSONObject params = new JSONObject();${esc.n}")

		#foreach ($parameter in $parameters)
			#set ($parameterName = $parameter.name)
			#set ($parameterType = $javaUtil.getType($parameter.type))
			#set ($parameterList = "$parameterList$parameterType $parameterName")

			#set ($jsonObj = "$jsonObj${esc.n}params.put(${esc.q}$parameterName${esc.q}, $parameterName);")

			#if ($foreach.hasNext)
				#set ($parameterList = "$parameterList, ")
			#end
		#end

		public void $methodName($parameterList) throws Exception {
			JSONObject command = new JSONObject();

			try {
				$jsonObj

				command.put(${esc.q}$action.path${esc.q}, params);
			}
			catch (JSONException je) {
			}

			HttpUtil.post(getContext(), command);
		}
	#end

}