package $package;

import com.liferay.client.http.HttpUtil;
import com.liferay.client.service.BaseService;
import com.liferay.client.service.JSONWrapper;
import com.liferay.client.service.ServiceContext;
import com.liferay.client.task.ServiceAsyncTask;
import com.liferay.client.task.callback.AsyncTaskCallback;

import org.json.JSONArray;
import org.json.JSONException;
import org.json.JSONObject;

#set ($className = $javaUtil.getServiceClassName($serviceContext))
#set ($actions = $discovery.actions)

@SuppressWarnings({ "unchecked", "rawtypes" })
public class $className extends BaseService {

	public $className(ServiceContext context) {
		super(context);
	}

	public $className(ServiceContext context, AsyncTaskCallback<?> callback) {
		super(context, callback);
	}

	#foreach ($action in $actions)
		#set ($returnType = $javaUtil.getReturnType($action.response))
		#set ($methodName = $javaUtil.getMethodName($action.path))
		#set ($parameters = $action.parameters)

		#set ($parameterList = "")
		#set ($jsonObj = "JSONObject _params = new JSONObject();${esc.n}")

		#set ($callbackType = "")

		#if ($returnType != "void")
			#set ($callbackType = "<$returnType>")
		#end

		#foreach ($parameter in $parameters)
			#set ($parameterName = $parameter.name)
			#set ($parameterType = $javaUtil.getType($parameter.type))
			#set ($parameterList = "$parameterList$parameterType $parameterName")

			#set ($jsonObj = "$jsonObj${esc.n}_params.put(${esc.q}$parameterName${esc.q}, $parameterName);")

			#if ($foreach.hasNext)
				#set ($parameterList = "$parameterList, ")
			#end
		#end

		public $returnType $methodName($parameterList) throws Exception {
			JSONObject _command = new JSONObject();

			try {
				$jsonObj

				_command.put(${esc.q}$action.path${esc.q}, _params);
			}
			catch (JSONException _je) {
				throw new Exception(_je);
			}

			AsyncTaskCallback$callbackType _callback =
				(AsyncTaskCallback$callbackType)getCallback();

			if (_callback != null) {
				ServiceAsyncTask$callbackType _task =
					new ServiceAsyncTask$callbackType(getContext(), _callback);

				_task.execute(_command);

				#if ($returnType == "void")
					return;
				#else
					return null;
				#end
			}
			else {
				#if ($returnType == "void")
					HttpUtil.post(getContext(), _command);
				#else
					JSONWrapper _json = HttpUtil.post(getContext(), _command);

					#if ($returnType == "JSONArray")
						return _json.getJSONArray();
					#else
						return _json.getJSONObject();
					#end
				#end
			}
		}
	#end

}