#macro(signature $action $suffix)
	#set ($returnType = $languageUtil.getType($action.response))
	#set ($methodName = $languageUtil.getMethodName($action.path))
	#set ($parameters = $action.parameters)
	#set ($parameterList = "")

	#foreach ($parameter in $parameters)
		#set ($parameterName = $parameter.name)
		#set ($parameterType = $languageUtil.getType($parameter.type))
		#set ($prefix = "")

		#if ($velocityCount > 1)
			#set ($prefix = "$parameterName:")
		#else
			#set ($parameterList = ":")
		#end

		#set ($parameterList = "$parameterList$prefix($parameterType)$parameterName")

		#if ($foreach.hasNext)
			#set ($parameterList = "$parameterList ")
		#end
	#end

	- ($returnType)$methodName$parameterList$suffix
#end