package $package;

import com.liferay.mobile.android.service.BaseService;
import com.liferay.mobile.android.service.Session;

import org.json.JSONArray;
import org.json.JSONException;
import org.json.JSONObject;

#set ($actions = $discovery.actions)
#set ($context = $discovery.context)

public class $className extends BaseService {

	public $className(Session session) {
		super(session);
	}

	#foreach ($action in $actions)
		#set ($returnType = $javaUtil.getReturnType($action.response))
		#set ($methodName = $javaUtil.getMethodName($action.path))
		#set ($parameters = $action.parameters)

		#set ($parameterList = "")
		#set ($jsonObj = "JSONObject _params = new JSONObject();${esc.n}")

		#foreach ($parameter in $parameters)
			#set ($parameterName = $parameter.name)
			#set ($parameterType = $javaUtil.getType($parameter.type))
			#set ($parameterList = "$parameterList$parameterType $parameterName")

			#set ($jsonObj = "$jsonObj${esc.n}_params.put(${esc.q}$parameterName${esc.q}, $parameterName);")

			#if ($foreach.hasNext)
				#set ($parameterList = "$parameterList, ")
			#end
		#end

		public $returnType $methodName($parameterList) throws Exception {
			JSONObject _command = new JSONObject();

			try {
				$jsonObj

				_command.put(${esc.q}$context$action.path${esc.q}, _params);
			}
			catch (JSONException _je) {
				throw new Exception(_je);
			}

			#if ($returnType == "void")
				session.invoke(_command);
			#else
				return ($returnType)session.invoke(_command);
			#end
		}
	#end

}